                
               <footer class="footer-distributed">
 
                <div class="footer-left">
              
                    <h3><span>TJR Express</span></h3>
            
                    <p class="footer-links">
                        <a href="/">Home</a>
                        |
                        <a href="/featured">Featured</a>
                        |
                        <a href="/about">About</a>
                        |
                        <a href="#">Submit</a>
                    </p>
            
                    <p class="footer-company-name">© <span>
                        <% var d=new Date()%>
                        <%=d.getFullYear()%>
                    </span> TJR Express media Pvt. Ltd.</p>
                </div>
            
                <div class="footer-center">
                    <div>
                        <a href="https://goo.gl/maps/wmsbqvoNQAPdyXHN6"><i class="fa fa-map-marker"></i></a>
                          <p><span>Department Of English,
                             Jamia Millia Islamia</span>
                            Okhla, New Delhi - 110025</p>
                    </div>
            
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>+91 79 0901 3416</p>
                    </div>
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:support@eduonix.com">support@tjrexpress.com</a></p>
                    </div>
                </div>
                <div class="footer-right">
                    <p class="footer-company-about">
                        <span>About the company</span>
                        Shaping ideas beyond imagination.</p>
                    <div class="footer-icons">
                        <a href="https://www.facebook.com/thejamiareview/"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/thejamiareview"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/thejamiareview/"><i class="fa fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UC7Xgs0C2_xg83JYtgGWomEw"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </footer>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
        </body>
</html>