.brand-image {
    margin-left: 3%;
    width: 100%;
    height: 100%;
}
.social-link h1{
   color: #e0ac1c;
}
.youtube-video{
    margin-left: 10%;
	margin-top: 0;
	padding: 0;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
}
.card-body{
	background-color: #f7f7f7;
}

.content{
    margin-top: 2px;
    margin-bottom: 25px;
}

.fb-ad-background{
	background-image: url('../imgs/image.png');
	background-size: cover;
	height: 15rem;
	
}


body{
    background-color: #fdfdfd;
}

.dropdownbtn{
    width: 100%;
    background-color: white;
}

hr{
    border-top: 2px solid #c0bcbc;
}

.show-main-margin-top{
    margin-top: 7%;
}

.media{
    border: 1px solid #e6e5e5;
    background-color: #f7f7f7;
    padding: 1%;
    margin-bottom: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.post{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 200px;
}

#delete-form{
    display: inline;
}


/* footer styles */

footer{
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
 
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}


/* ABout PAGE */


.blurb h2{
    color:#333;
    font-weight: 200;
    font-size: 2.5rem;
}

.blurb p{
    color: #333;
    font-weight: 100;
    font-size:  1.125rem;
    line-height: 2;
}



/* #mainNavbar{
    font-size: 1.5em;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white;
} */

/* #mainNavbar .nav-link:hover{
    color: #EA1c2c;
}

#mainNavbar .navbar-brand{
    color: #EA1c2c;
}

#headingGroup span{
    color: #EA1c2c;
} */

#headingGroup h1{
    font-weight: 100;
    font-size: 2.5rem;
}

@media (max-width: 1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 2rem;
    }
}





/* Mine */

.modal-get-offer .modal-content {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #33383b;
  color:#FFF;    
}
.modal-get-offer .modal-content .modal-header {
    text-align:center;
     border: none;
}

a { 
	color: inherit; 
} 

a:hover { 
	color: inherit; 
} 


#logo{
	height: 30px;
	width: 90px;
	padding: 0;
}


.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}


.btn-facebook {
	color: #fff;
	background-color: #4C67A1;
}
.btn-facebook:hover {
	color: #fff;
	background-color: #405D9B;
}
.btn-facebook:focus {
	color: #fff;
}

.btn-twitter {
	background: #00ACEE;
	border-radius: 5px;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #0075a2;
  }

  ul{
	list-style-type: none;  
  }

  .btn-instagram{
	    background: #3f729b;
	    border-radius: 5px;
		color: #fff;
		border-width: 1px;
		border-style: solid;
		border-color: #0075a2;
  }

  @media screen and (max-width: 480px) {
    img {
         width: 300px;
	}
	
	iframe{
		width: 300px;
		height: 200px;
	}
}

.card-post:hover{
	transform: scale(1.1);
}

.card-post{
	transition: transform 1s;
}

/* 
donation link */
.donation-link{
	background-color: #0A3D62;
	width: 100%;
	height: 120px;
}

.donation-link div p{
	color: white;
	/* font-size: 3vw; */
	font-family: "Times New Roman", Sans-serif;
}

.donation-link-text:hover{
	transform: scale(1.01);
}

.donation-link-text{
	transition: transform 0.2s;
}

.donation-button{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    
}


/* we work for */
.motto{
	margin-top: 5%; 
	font-family: 'Raleway', sans-serif;
	height: 8vh;
	font-size: 3rem;
}

/* cursor */

#changing-text > .txt {
	border-right: 0.2rem solid #777;
}


@media(min-width: 1200px){
	.motto-text, .donation-link-text{
		font-size:	3rem;
	}
}

@media(max-width: 1200px){
	.motto-text, .donation-link-text{
		font-size:	2.5rem;
	}
}

@media(max-width: 800px){
	.motto-text, .donation-link-text{
		font-size:	2rem;
	}
}

@media(max-width: 500px){
	.motto-text, .donation-link-text{
		font-size:	1.6rem;
	}
}